<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Clone</title>
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script>
        const ROOM_ID = "<%= roomId%>";
    </script>
</head>

<body>



    <div class="main">
        <div class="main_left">
            <div class="main_videos">
                <div id="video-grid">

                </div>
            </div>
            <div class="main_controls">

            </div>
        </div>
        <div class="main_right">
            <div class="main_header">
                <h6>Chat</h6>
            </div>
        </div>
    </div>


    <script src="script.js"></script>
</body>

</html>